* text=auto eol=lf
*.mjs text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.cmd text eol=crlf
*.png -text
*.ico -text
public/vendor/three.core.js -text
public/vendor/three.module.js -text
public/vendor/THREE-LICENSE.txt -text
